llama-cpp-python>=0.2.77
numpy<2.0.0
pydantic>=2.0
gradio>=4.0.0
# Pinned for Windows Stability to stop the backtracking
chromadb==0.4.24
llama-index-core==0.10.18
llama-index-embeddings-huggingface==0.2.0
llama-index-vector-stores-chroma==0.1.6
python-dotenv
pyyaml
colorama